DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require
BOT_TIMEZONE=Asia/Jakarta
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
WEBHOOK_SETUP_SECRET=
PUBLIC_BASE_URL=
FLORENCE_ENDPOINT_URL=
HUGGINGFACE_API_TOKEN=
FLORENCE_MODEL_ID=microsoft/Florence-2-base
QUICKCHART_URL=https://quickchart.io/chart
ALLOWED_TELEGRAM_USERS=
